In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('Backup Data.csv')
df.head()

,Status,Objects Processed,Backup Type,Start Time,Data Size (GB),Transferred (GB),Total Backup Size (GB),Job Name,Job Location
0,Success,0,Incremental,6/3/2021 19:30,0.00,0.00,1330.24,TN91 - Malakoff_Others03,VPC
1,Success,0,Incremental,6/6/2021 20:09,0.00,0.00,1338.05,TN91 - Malakoff_Others03,VPC
2,Success,0,Incremental,6/16/2021 7:30 PM,0.00,0.00,1345.72,TN91 - Malakoff_Others03,VPC
3,Success,0,Incremental,6/17/2021 7:30 PM,0.00,0.00,1350.50,TN91 - Malakoff_Others03,VPC
4,Warning,1 of 1,Incremental,6/20/2021 8:05 PM,1184.99,40.16,1335.82,TN91 - Malakoff_Others03,VPC

In [10]:
df['Start Time'] = pd.to_datetime(df['Start Time']).dt.strftime('%m/%d/%Y')

In [11]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [12]:
df.dtypes

Status                            object
Objects Processed                 object
Backup Type                       object
Start Time                datetime64[ns]
Data Size (GB)                   float64
Transferred (GB)                 float64
Total Backup Size (GB)           float64
Job Name                          object
Job Location                      object
dtype: object

In [13]:
df.head(2000)

,Status,Objects Processed,Backup Type,Start Time,Data Size (GB),Transferred (GB),Total Backup Size (GB),Job Name,Job Location
0,Success,0,Incremental,2021-06-03,0.000000,0.000000,1330.24,TN91 - Malakoff_Others03,VPC
1,Success,0,Incremental,2021-06-06,0.000000,0.000000,1338.05,TN91 - Malakoff_Others03,VPC
2,Success,0,Incremental,2021-06-16,0.000000,0.000000,1345.72,TN91 - Malakoff_Others03,VPC
3,Success,0,Incremental,2021-06-17,0.000000,0.000000,1350.50,TN91 - Malakoff_Others03,VPC
4,Warning,1 of 1,Incremental,2021-06-20,1184.990000,40.160000,1335.82,TN91 - Malakoff_Others03,VPC
...,...,...,...,...,...,...,...,...,...
1995,Success,3,Incremental,2021-09-14,2594.999039,7.385806,1482.65,TN91 - Malakoff_CRM,VPC
1996,Success,3,Incremental,2021-09-15,2594.999039,6.925185,1483.11,TN91 - Malakoff_CRM,VPC
1997,Success,3,Incremental,2021-09-16,2594.999039,4.994206,1479.57,TN91 - Malakoff_CRM,VPC
1998,Success,3,Incremental,2021-09-17,2594.999039,29.365177,1502.56,TN91 - Malakoff_CRM,VPC
1999,Success,3,Incremental,2021-09-18,2594.999039,6.194404,1503.87,TN91 - Malakoff_CRM,VPC

In [14]:
df.to_csv('Backup Data Cleansed.csv', index = False, header = True)