In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('LPP Backup History (Daily).csv')

In [32]:
df.head()

,Backup File,Unnamed: 1,Status,Start Date/Time,End Date/Time,Location
0,LPP-PI (Incremental),Backup,Success,12/7/2021 1:00,12/7/2021 1:09,LPP
1,LPP-FS01 (Incremental),Backup,Success,12/6/2021 22:00,12/6/2021 22:19,LPP
2,LPP-BACKUP (Incremental),Backup,Success,12/6/2021 20:00,12/6/2021 21:15,LPP
3,LPP-PI (Incremental),Backup,Success,12/6/2021 1:00,12/6/2021 1:07,LPP
4,LPP-FS01 (Incremental),Backup,Success,12/3/2021 22:00,12/3/2021 22:22,LPP

In [33]:
df.dtypes

Backup File        object
Unnamed: 1         object
Status             object
Start Date/Time    object
End Date/Time      object
Location           object
dtype: object

In [34]:
df['Start Date/Time'] = pd.to_datetime(df['Start Date/Time'])
df['End Date/Time'] = pd.to_datetime(df['End Date/Time'])

In [35]:
df['Start Date/Time'] = df['Start Date/Time'].dt.strftime('%d/%m/%y %H:%M:%S')
df['End Date/Time'] = df['End Date/Time'].dt.strftime('%d/%m/%y %H:%M:%S')

In [36]:
df.head()

,Backup File,Unnamed: 1,Status,Start Date/Time,End Date/Time,Location
0,LPP-PI (Incremental),Backup,Success,07/12/21 01:00:00,07/12/21 01:09:00,LPP
1,LPP-FS01 (Incremental),Backup,Success,06/12/21 22:00:00,06/12/21 22:19:00,LPP
2,LPP-BACKUP (Incremental),Backup,Success,06/12/21 20:00:00,06/12/21 21:15:00,LPP
3,LPP-PI (Incremental),Backup,Success,06/12/21 01:00:00,06/12/21 01:07:00,LPP
4,LPP-FS01 (Incremental),Backup,Success,03/12/21 22:00:00,03/12/21 22:22:00,LPP

In [37]:
df.to_csv("Backup LPP.csv", index=False, header=True)

In [38]:
df1 = pd.read_csv('PPP Backup History (Daily).csv')

In [39]:
df1.to_csv("Backup PPP.csv", index=False, header=True)

In [40]:
df2 = pd.read_csv('TBPP Backup History (Daily).csv')

In [41]:
df2['Start Date/Time'] = pd.to_datetime(df2['Start Date/Time'])
df2['End Date/Time'] = pd.to_datetime(df2['End Date/Time'])

In [42]:
df2['Start Date/Time'] = df2['Start Date/Time'].dt.strftime('%d/%m/%y %H:%M:%S')
df2['End Date/Time'] = df2['End Date/Time'].dt.strftime('%d/%m/%y %H:%M:%S')

In [43]:
df2.head()

,Backup File,Unnamed: 1,Status,Start Date/Time,End Date/Time,Location
0,4 - File Server (Incremental),Backup,Success,30/11/21 19:25:00,30/11/21 19:36:00,TBPP
1,3 - SQL Servers (Incremental),Backup,Success,30/11/21 19:16:00,30/11/21 19:25:00,TBPP
2,2 - Critical Servers (Incremental),Backup,Success,30/11/21 19:07:00,30/11/21 19:16:00,TBPP
3,1 - Non Critical Server (Incremental),Backup,Success,30/11/21 19:00:00,30/11/21 19:07:00,TBPP
4,3 - SQL Servers (Incremental),Backup,Success,29/11/21 19:42:00,29/11/21 19:57:00,TBPP

In [48]:
df2.to_csv("Backup TBPP.csv", index=False, header=True)

In [49]:
df_site = pd.concat([df, df1], ignore_index=True)

In [50]:
df_site = pd.concat([df_site, df2], ignore_index=True)

In [51]:
df_site.to_csv("Backup Site.csv", index=False, header=True)

In [60]:
df3 = pd.read_csv('Backup HQ.csv')

In [61]:
df3['Start Date/Time'] = pd.to_datetime(df3['Start Date/Time'])

In [62]:
df3['Start Date/Time'] = df3['Start Date/Time'].dt.strftime('%d/%m/%y %H:%M:%S')

In [63]:
df3.head(10)

,Backup File,Status,Start Date/Time,End Date/Time,Location,Error Description,Server Name
0,TN91 - Malakoff_Others03,Warning,01/11/21 19:30:00,NaN,VPC,Failed to prepare guest for hot backup. Detail...,MCB-DB03
1,TN91 - Malakoff_Others03,Warning,02/11/21 19:30:00,NaN,VPC,Failed to prepare guest for hot backup. Detail...,MCB-DB03\n
2,TN91 - Malakoff_Others03,NaN,NaN,NaN,VPC,Failed to perform post-backup application-awar...,MBSAPPRD
3,TN91 - Malakoff_Others03,Warning,03/11/21 19:30:00,NaN,VPC,Failed to prepare guest for hot backup. Detail...,MCB-DB03
4,TN91 - Malakoff_Others03,Success,04/11/21 19:30:00,NaN,VPC,NaN,NaN
5,TN91 - Malakoff_Others03,Success,05/11/21 19:30:00,NaN,VPC,NaN,NaN
6,TN91 - Malakoff_Others03,Success,06/11/21 19:30:00,NaN,VPC,NaN,NaN
7,TN91 - Malakoff_Others03,Success,07/11/21 19:30:00,NaN,VPC,NaN,NaN
8,TN91 - Malakoff_Others03,Success,08/11/21 19:30:00,NaN,VPC,NaN,NaN
9,TN91 - Malakoff_Others03,Warning,09/11/21 19:30:00,NaN,VPC,Backup Successful,NaN

In [64]:
df3.to_csv("Backup HQ.csv", index=False, header=True)

In [65]:
df_final = pd.concat([df_site, df3], ignore_index=True)

In [66]:
df_final

,Backup File,Unnamed: 1,Status,Start Date/Time,End Date/Time,Location,Error Description,Server Name
0,LPP-PI (Incremental),Backup,Success,07/12/21 01:00:00,07/12/21 01:09:00,LPP,NaN,NaN
1,LPP-FS01 (Incremental),Backup,Success,06/12/21 22:00:00,06/12/21 22:19:00,LPP,NaN,NaN
2,LPP-BACKUP (Incremental),Backup,Success,06/12/21 20:00:00,06/12/21 21:15:00,LPP,NaN,NaN
3,LPP-PI (Incremental),Backup,Success,06/12/21 01:00:00,06/12/21 01:07:00,LPP,NaN,NaN
4,LPP-FS01 (Incremental),Backup,Success,03/12/21 22:00:00,03/12/21 22:22:00,LPP,NaN,NaN
...,...,...,...,...,...,...,...,...
1863,Daily_DHCP,NaN,Success,26/11/21 19:00:00,NaN,HQ - Fusion,NaN,NaN
1864,Daily_DHCP,NaN,Failed,27/11/21 19:00:00,NaN,HQ - Fusion,Error: Cannot complete login due to an incorre...,mcb-dhcp01.malakoff.com.my\nmcb-dhcp02.malakof...
1865,Daily_DHCP,NaN,Failed,28/11/21 19:00:00,NaN,HQ - Fusion,Error: Cannot complete login due to an incorre...,mcb-dhcp01.malakoff.com.my\nmcb-dhcp02.malakof...
1866,Daily_DHCP,NaN,Warning,29/11/21 19:00:00,NaN,HQ - Fusion,Changed block tracking cannot be enabled: one ...,mcb-dhcp01.malakoff.com.my
1867,Daily_DHCP,NaN,Warning,30/11/21 19:00:00,NaN,HQ - Fusion,Changed block tracking cannot be enabled: one ...,mcb-dhcp01.malakoff.com.my

In [67]:
df_final.to_csv('Backup.csv', index=False, header=True)