In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("Disk Usage NOV.csv")

In [19]:
df.head()

,Name,Disk,Total Disk (GB),Total Disk Usage (GB),Partition Utilization,Created,Partition Utilization Indicator
0,HQ-DC05,C:\,39.66,27.13,68.42,Jun-21,Safe
1,MBSAPDEV01,C:\,149.66,83.88,56.05,Jun-21,Safe
2,MBSAPQAS,C:\,149.9,84.78,56.56,Jun-21,Safe
3,MCB-BILLING,C:\,99.9,73.78,73.85,Jun-21,Warning
4,MCB-DB01,C:\,99.46,34.68,34.87,Jun-21,Safe

In [20]:
df.dtypes

Name                                object
Disk                                object
Total Disk (GB)                     object
Total Disk Usage (GB)              float64
Partition Utilization              float64
Created                             object
Partition Utilization Indicator     object
dtype: object

In [21]:
for col_name in df.columns: 
    print(col_name)

Name
Disk
Total Disk (GB)
Total Disk Usage (GB)
Partition Utilization
Created
Partition Utilization Indicator

In [22]:
df['Partition Utilization ']

0      68.42
1      56.05
2      56.56
3      73.85
4      34.87
       ...
703     4.84
704    41.33
705    49.87
706    26.39
707     4.82
Name: Partition Utilization , Length: 708, dtype: float64

In [23]:
df_2 = pd.DataFrame(df["Name"], columns=['A', 'Partition Utilization Indicator'])

In [24]:
df_2.head()

Empty DataFrame
Columns: [A, Partition Utilization Indicator]
Index: []

In [25]:
df_2['A'] = df['Partition Utilization ']

In [26]:
df_2.head()

       A Partition Utilization Indicator
0  68.42                             NaN
1  56.05                             NaN
2  56.56                             NaN
3  73.85                             NaN
4  34.87                             NaN

In [27]:
df_2.loc[(df_2['A'] >= 70.00) & (df_2['A'] <= 89.99), 'Partition Utilization Indicator'] = 'Warning' 
df_2.loc[(df_2['A'] >= 90.00) & (df_2['A'] <= 100.00), 'Partition Utilization Indicator'] = 'Critical'

In [28]:
df_2.head()

       A Partition Utilization Indicator
0  68.42                             NaN
1  56.05                             NaN
2  56.56                             NaN
3  73.85                         Warning
4  34.87                             NaN

In [29]:
df_2['Partition Utilization Indicator'] = df_2['Partition Utilization Indicator'].fillna('Safe')

In [30]:
df_2.head()

       A Partition Utilization Indicator
0  68.42                            Safe
1  56.05                            Safe
2  56.56                            Safe
3  73.85                         Warning
4  34.87                            Safe

In [31]:
df = df.drop(columns=['Partition Utilization Indicator'])

In [32]:
df_final = pd.concat([df, df_2], axis=1)

In [33]:
df_final.head()

,Name,Disk,Total Disk (GB),Total Disk Usage (GB),Partition Utilization,Created,A,Partition Utilization Indicator
0,HQ-DC05,C:\,39.66,27.13,68.42,Jun-21,68.42,Safe
1,MBSAPDEV01,C:\,149.66,83.88,56.05,Jun-21,56.05,Safe
2,MBSAPQAS,C:\,149.9,84.78,56.56,Jun-21,56.56,Safe
3,MCB-BILLING,C:\,99.9,73.78,73.85,Jun-21,73.85,Warning
4,MCB-DB01,C:\,99.46,34.68,34.87,Jun-21,34.87,Safe

In [35]:
df_final = df_final.drop(columns=['A'])

In [36]:
df_final.head()

,Name,Disk,Total Disk (GB),Total Disk Usage (GB),Partition Utilization,Created,Partition Utilization Indicator
0,HQ-DC05,C:\,39.66,27.13,68.42,Jun-21,Safe
1,MBSAPDEV01,C:\,149.66,83.88,56.05,Jun-21,Safe
2,MBSAPQAS,C:\,149.9,84.78,56.56,Jun-21,Safe
3,MCB-BILLING,C:\,99.9,73.78,73.85,Jun-21,Warning
4,MCB-DB01,C:\,99.46,34.68,34.87,Jun-21,Safe

In [37]:
df_final.to_csv('Virtual Machine Disk Usage NOV.csv')

In [108]:
df_new = pd.read_csv('Virtual Machine Performance (June - Sept).csv')

In [109]:
df_new.head()

,Name,CPU Average Usage,CPU Max Usage,Memory Average Usage,Memory Max Usage,Created,Indicator
0,HQ-DC03,3.73,49.16,57.17,85.79,Jun-21,Warning
1,HQ-DC05,7.70,50.66,69.90,87.50,Jun-21,Warning
2,MBSAPBWD,13.91,46.31,91.39,99.70,Jun-21,Critical
3,MBSAPBWP,38.48,45.73,94.02,99.96,Jun-21,Critical
4,MBSAPBWQ,7.94,39.89,84.89,89.08,Jun-21,Warning

In [110]:
df_new['Memory Max Usage']

0      85.79
1      87.50
2      99.70
3      99.96
4      89.08
       ...
145      NaN
146      NaN
147      NaN
148      NaN
149      NaN
Name: Memory Max Usage, Length: 150, dtype: float64

In [111]:
df_3 = pd.DataFrame(df_new["Name"], columns=['A', 'B', 'C', 'D', 'CPU Average Usage Indicator', 'CPU Max Usage Indicator', 'Memory Average Usage Indicator', 'Memory Max Usage Indicator'])

In [112]:
df_3.head()

Empty DataFrame
Columns: [A, B, C, D, CPU Average Usage Indicator, CPU Max Usage Indicator, Memory Average Usage Indicator, Memory Max Usage Indicator]
Index: []

In [113]:
df_3['A'] = df_new['CPU Average Usage']
df_3['B'] = df_new['CPU Max Usage']
df_3['C'] = df_new['Memory Average Usage']
df_3['D'] = df_new['Memory Max Usage']

In [114]:
df_3.loc[(df_3['A'] >= 80.00) & (df_3['A'] <= 89.99), 'CPU Average Usage Indicator'] = 'Warning'
df_3.loc[(df_3['A'] >= 90.00) & (df_3['A'] <= 100.00), 'CPU Average Usage Indicator'] = 'Critical'
df_3.loc[(df_3['B'] >= 80.00) & (df_3['B'] <= 89.99), 'CPU Max Usage Indicator'] = 'Warning'
df_3.loc[(df_3['B'] >= 90.00) & (df_3['B'] <= 100.00), 'CPU Max Usage Indicator'] = 'Critical'
df_3.loc[(df_3['C'] >= 80.00) & (df_3['C'] <= 89.99), 'Memory Average Usage Indicator'] = 'Warning'
df_3.loc[(df_3['C'] >= 90.00) & (df_3['C'] <= 100.00), 'Memory Average Usage Indicator'] = 'Critical'
df_3.loc[(df_3['D'] >= 80.00) & (df_3['D'] <= 89.99), 'Memory Max Usage Indicator'] = 'Warning'
df_3.loc[(df_3['D'] >= 90.00) & (df_3['D'] <= 100.00), 'Memory Max Usage Indicator'] = 'Critical'

In [115]:
df_3.head()

,A,B,C,D,CPU Average Usage Indicator,CPU Max Usage Indicator,Memory Average Usage Indicator,Memory Max Usage Indicator
0,3.73,49.16,57.17,85.79,NaN,NaN,NaN,Warning
1,7.70,50.66,69.90,87.50,NaN,NaN,NaN,Warning
2,13.91,46.31,91.39,99.70,NaN,NaN,Critical,Critical
3,38.48,45.73,94.02,99.96,NaN,NaN,Critical,Critical
4,7.94,39.89,84.89,89.08,NaN,NaN,Warning,Warning

In [116]:
df_3['A'] = df_3['A'].fillna('-')
df_3['B'] = df_3['B'].fillna('-')
df_3['C'] = df_3['C'].fillna('-')
df_3['D'] = df_3['D'].fillna('-')

In [117]:
df_3.head(1000)

,A,B,C,D,CPU Average Usage Indicator,CPU Max Usage Indicator,Memory Average Usage Indicator,Memory Max Usage Indicator
0,3.73,49.16,57.17,85.79,NaN,NaN,NaN,Warning
1,7.70,50.66,69.9,87.5,NaN,NaN,NaN,Warning
2,13.91,46.31,91.39,99.7,NaN,NaN,Critical,Critical
3,38.48,45.73,94.02,99.96,NaN,NaN,Critical,Critical
4,7.94,39.89,84.89,89.08,NaN,NaN,Warning,Warning
...,...,...,...,...,...,...,...,...
145,10.50,80.82,-,-,NaN,Warning,NaN,NaN
146,2.50,35.18,-,-,NaN,NaN,NaN,NaN
147,5.59,58.62,-,-,NaN,NaN,NaN,NaN
148,3.33,68.53,-,-,NaN,NaN,NaN,NaN
149,4.83,38.06,-,-,NaN,NaN,NaN,NaN

In [118]:
df_3.fillna('')

,A,B,C,D,CPU Average Usage Indicator,CPU Max Usage Indicator,Memory Average Usage Indicator,Memory Max Usage Indicator
0,3.73,49.16,57.17,85.79,,,,Warning
1,7.70,50.66,69.9,87.5,,,,Warning
2,13.91,46.31,91.39,99.7,,,Critical,Critical
3,38.48,45.73,94.02,99.96,,,Critical,Critical
4,7.94,39.89,84.89,89.08,,,Warning,Warning
...,...,...,...,...,...,...,...,...
145,10.50,80.82,-,-,,Warning,,
146,2.50,35.18,-,-,,,,
147,5.59,58.62,-,-,,,,
148,3.33,68.53,-,-,,,,
149,4.83,38.06,-,-,,,,

In [119]:
df_3['A'] = df_3['A'].astype(str)
df_3['B'] = df_3['B'].astype(str)
df_3['C'] = df_3['C'].astype(str)
df_3['D'] = df_3['D'].astype(str)
df_3['CPU Average Usage Indicator'] = df_3['CPU Average Usage Indicator'].astype(str)
df_3['CPU Max Usage Indicator'] = df_3['CPU Max Usage Indicator'].astype(str)
df_3['Memory Average Usage Indicator'] = df_3['Memory Average Usage Indicator'].astype(str)
df_3['Memory Max Usage Indicator'] = df_3['Memory Max Usage Indicator'].astype(str)

In [120]:
for i, row in df_3.iterrows():
    if (not('-' in row['A'])) and not('Critical' in row['CPU Average Usage Indicator']) and not ('Warning' in row['CPU Average Usage Indicator']):
        row['CPU Average Usage Indicator'] = 'Safe'

for i, row in df_3.iterrows():
    if (not('-' in row['B'])) and not('Critical' in row['CPU Max Usage Indicator']) and not ('Warning' in row['CPU Max Usage Indicator']):
        row['CPU Max Usage Indicator'] = 'Safe'

for i, row in df_3.iterrows():    
    if (not('-' in row['C'])) and not('Critical' in row['Memory Average Usage Indicator']) and not ('Warning' in row['Memory Average Usage Indicator']):
        row['Memory Average Usage Indicator'] = 'Safe'

for i, row in df_3.iterrows():    
    if (not('-' in row['D'])) and not('Critical' in row['Memory Max Usage Indicator']) and not ('Warning' in row['Memory Max Usage Indicator']):
        row['Memory Max Usage Indicator'] = 'Safe'

In [121]:
df_3.head(1000)

,A,B,C,D,CPU Average Usage Indicator,CPU Max Usage Indicator,Memory Average Usage Indicator,Memory Max Usage Indicator
0,3.73,49.16,57.17,85.79,Safe,Safe,Safe,Warning
1,7.7,50.66,69.9,87.5,Safe,Safe,Safe,Warning
2,13.91,46.31,91.39,99.7,Safe,Safe,Critical,Critical
3,38.48,45.73,94.02,99.96,Safe,Safe,Critical,Critical
4,7.94,39.89,84.89,89.08,Safe,Safe,Warning,Warning
...,...,...,...,...,...,...,...,...
145,10.5,80.82,-,-,Safe,Warning,nan,nan
146,2.5,35.18,-,-,Safe,Safe,nan,nan
147,5.59,58.62,-,-,Safe,Safe,nan,nan
148,3.33,68.53,-,-,Safe,Safe,nan,nan
149,4.83,38.06,-,-,Safe,Safe,nan,nan

In [122]:
df_final2 = pd.concat([df_new, df_3], axis=1)

In [123]:
df_final2.head()

,Name,CPU Average Usage,CPU Max Usage,Memory Average Usage,Memory Max Usage,Created,Indicator,A,B,C,D,CPU Average Usage Indicator,CPU Max Usage Indicator,Memory Average Usage Indicator,Memory Max Usage Indicator
0,HQ-DC03,3.73,49.16,57.17,85.79,Jun-21,Warning,3.73,49.16,57.17,85.79,Safe,Safe,Safe,Warning
1,HQ-DC05,7.70,50.66,69.90,87.50,Jun-21,Warning,7.7,50.66,69.9,87.5,Safe,Safe,Safe,Warning
2,MBSAPBWD,13.91,46.31,91.39,99.70,Jun-21,Critical,13.91,46.31,91.39,99.7,Safe,Safe,Critical,Critical
3,MBSAPBWP,38.48,45.73,94.02,99.96,Jun-21,Critical,38.48,45.73,94.02,99.96,Safe,Safe,Critical,Critical
4,MBSAPBWQ,7.94,39.89,84.89,89.08,Jun-21,Warning,7.94,39.89,84.89,89.08,Safe,Safe,Warning,Warning

In [124]:
df_final2 = df_final2.drop(columns=['Indicator','A', 'B', 'C', 'D'])

In [125]:
df_final2.head(1000)

,Name,CPU Average Usage,CPU Max Usage,Memory Average Usage,Memory Max Usage,Created,CPU Average Usage Indicator,CPU Max Usage Indicator,Memory Average Usage Indicator,Memory Max Usage Indicator
0,HQ-DC03,3.73,49.16,57.17,85.79,Jun-21,Safe,Safe,Safe,Warning
1,HQ-DC05,7.70,50.66,69.90,87.50,Jun-21,Safe,Safe,Safe,Warning
2,MBSAPBWD,13.91,46.31,91.39,99.70,Jun-21,Safe,Safe,Critical,Critical
3,MBSAPBWP,38.48,45.73,94.02,99.96,Jun-21,Safe,Safe,Critical,Critical
4,MBSAPBWQ,7.94,39.89,84.89,89.08,Jun-21,Safe,Safe,Warning,Warning
...,...,...,...,...,...,...,...,...,...,...
145,MCB-SPSWEB2019,10.50,80.82,NaN,NaN,Sep-21,Safe,Warning,nan,nan
146,MCB-SRSDEV,2.50,35.18,NaN,NaN,Sep-21,Safe,Safe,nan,nan
147,MCB-SRSPRD,5.59,58.62,NaN,NaN,Sep-21,Safe,Safe,nan,nan
148,MCB-VDMPAPP,3.33,68.53,NaN,NaN,Sep-21,Safe,Safe,nan,nan
149,MCB-VDMPWEB,4.83,38.06,NaN,NaN,Sep-21,Safe,Safe,nan,nan

In [126]:
df_final2.to_csv('Virtual Machine Performance (June - Sept).csv')